@model Pizza;
@*Model == Pizza*@

<div class="container">

     <div class="d-flex gap-4">
        <div class="">
            <h1 class="display-4 mb-4">Pizza @Model.Name</h1>
            <p>@Model.Description</p>
            <div class="text-danger"><b>Prezzo:</b> @Model.Price €</div>
        </div>
        <img class="" src="@Model.Image" width="50%" />
     </div>

</div>

