@model Pizza

<div class="container">

    <form asp-controller="Pizza" asp-action="Edit" method="post">
        @Html.AntiForgeryToken() @*CSRF*@

        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Name" class="d-block w-100" value="Name"/>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <textarea asp-for="Description" class="d-block w-100" value="Description" rows="5"></textarea>
        </div>
        <div class="mb-3">
            <strong>Immagine:</strong>
            <input asp-for="Image" class="d-block w-100" value="Image" />
        </div>
        <div class="mb-3">
            <strong>Prezzo:</strong>
            <input asp-for="Price" class="d-block w-100" value="Price" />
        </div>
        <div class="mb-3">
            <strong>Categoria:</strong>
            <select asp-for="Category">
                <option value="Rossa">Rossa</option>
                <option value="Bianca">Bianca</option>
            </select>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-small btn-info">Modifica pizza</button>
        </div>

    </form>

</div>